<div class="container text-center">
  <div class="col">
    <h1 class="breadcrumb-item active" aria-current="page">Gerenciamento de Usuários</h1>
  </div>
</div>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de Usuários</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Escolaridade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.sobrenome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.dataNascimento | date}}</td>
            <td>{{usuario.escolaridade}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" (click)="editarUsuario(usuario)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletarUsuario(usuario)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card add-car">
    <h5 class="card-header">Adicionar/Atualizar Usuário</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && salvarUsuario(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="model">Nome</label>
          <input type="text" [(ngModel)]="usuario.nome" id="nome" name="nome" #model="ngModel"
            class="form-control" placeholder="Digite o nome">
        </div>

        <div class="form-group">
          <label for="model">Sobrenome</label>
          <input type="text" [(ngModel)]="usuario.sobrenome" id="sobrenome" name="sobrenome" #model="ngModel"
            class="form-control"
            placeholder="Digite o sobrenome">
        </div>

        <div class="form-group">
          <label for="model">Email</label>
          <input type="text" [(ngModel)]="usuario.email" id="email" name="email" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Digite o email">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors!">Email é obrigatório</div>
          </div>
        </div>

        <div class="form-group">
          <label for="model">Data Nascimento</label>
          <input type="text" [(ngModel)]="usuario.dataNascimento" id="dataNascimento" name="dataNascimento" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Informe a Data de Nascimento">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors!">Data Nascimento é obrigatório</div>
          </div>
        </div>

        <div class="form-group">
          <label for="model">Escolaridade</label>
          <input type="text" [(ngModel)]="usuario.escolaridade" id="escolaridade" name="escolaridade" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Informe sua Escolaridade">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors!">Data Nascimento é obrigatório</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
      </form>
    </div>
  </div>
</div>
